.headerList {
	list-style: none;
	max-width: 100%;
	width:60%;
	top: 0;
	margin-top: 0;
	background-image: url("http://i.stack.imgur.com/pMAiU.jpg");
	float:none;
	text-align: center;
	position: fixed;
	left: 19.5%;
	border-radius:0 0 130px 130px/100px;
	padding: 30px;
	border-style: solid;
	border-color:black;
	border-top-style: none;
}
.headerListItems {
	display: inline-block;
	max-width: 100%;
	width: 18.5%;
	text-align: center;
	color:white;
	vertical-align: text-top;
	font-size: 1.3em;
	padding: 0;
}
.frontPage , body , p , img  {
	margin: 0;
	padding: 0;
}

a {
	padding-left:25px;
	padding-right: 25px;
}
.headerListItems a:link, .headerListItems a:visited {
	color:white;
	text-decoration: none;
}
.headerListItems a:active, .headerListItems a:hover {
	color:red;
	background-color: black;
	border-radius: 10px;
	text-decoration: none;
}
.cardinal {
	padding: 0;
	margin: 0;
	left: 47.5%;
	position: fixed;
	z-index: 1;
	top:1.5%;
	margin-top: 0;
}
.scheduleItems {
	display:inline-block;
	z-index: 1;
	color: white;
	width:11.5%;
	vertical-align: top;
	padding:1%;
}
.schedule {
	top:53%;
	z-index: 1;
	position: fixed;
	background:rgb(96,96,96);
	width: 80%;
	border-radius:45px;
	left:9%;
	border-style: solid;
	border-color: black;
}
.frontPageLayer {
	background:rgba(0,0,0,.2);
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}
h2 {
	padding:0;
	margin:0;
	font-size:14.5px;
	font-weight: normal;
}
.trainingInfo {
	background:rgb(96,96,96);
	margin:0;
	position: fixed;
	width:40%;
	left:20%;
	top:25%;
	font-size: 18px;
	color:white;
	text-align: center;
	border-style: solid;
	border-radius: 20px;
	border-color: black;
	padding:10px;
}
.trainingInfo p {
	font-size: 14.5px;
	font-style: none;
	text-indent: 35px;
	text-align: left;
}